/* Basic Styling - don't alter this part! */
html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(136, 134, 233);
    color: #555;
}
header {
    background: linear-gradient(to bottom right, rgb(92, 149, 235), #333);
    color: rgb(75, 31, 75);
    padding: 20px;
}
header h1 {
    margin: 0;
}
main h2 {
    color: black;
    text-decoration: underline;
}
.container {
    width: 65%;
    margin: 0 auto;
}

/* Add Student Styles Below */
.jane-style {
    color: rgb(122, 61, 91);
    background-color: black;
    padding: 3px;
}

.code-ninja-style {
    color: rgb(0, 195, 255);
    background-color: lightblue;
    padding: 3px;
}

.codys-styles {
    background:rgb(22, 196, 22);
}